input[type=text] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}
input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}
textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}


.button[type=submit] {width: 100px;}


.comment-box input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}
.comment-box input:focus {
border:1px solid black ;
outline:0;
}
.comment-box textarea {
width:100%;
height:150px;
padding:15px ;
margin-bottom: 10px;
border-radius : 5px;
border: 1px solid white ;
}
.comment-box text:focus {
border :1px solid black ;
outline:0;
}
.comment-box button {
border:0;
padding: 10px 30px;
background: #86b0b6;
font-size: 18px;
border-radius: 5px;
color: white;
}
.comment-box button:hover {
background-color:#718a8e;
}
